<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ABABillingAndClaim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ABABillingAndClaim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="manage.company" value="Expanding Possibilities/Villa Lyan;Brain and behavioral institute;Principles of learning" />
    <add key="excel.password" value="2020" />
    <add key="excel.packFile" value="D:\pack.zip" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--<add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />-->
    <add key="web.EP.user" value="expanding" />
    <add key="web.EP.password" value="Life325@" />
    <add key="web.BBL.user" value="" />
    <add key="web.BBL.password" value="" />
    <add key="web.PL.user" value="" />
    <add key="web.PL.password" value="" />
    <add key="web.VL.user" value="villabeh" />
    <add key="web.VL.password" value="Life325$" />
    <add key="extra.procedure.list" value="51;51TS" />
    <add key="web.URL" value="https://portal.flmmis.com/FLPortal/Claims/Professional/tabid/66/Default.aspx" />
  </appSettings>
  <connectionStrings>
    <add name="vl_ep" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=clinic-admin-env.ckeki9zynfob.us-east-1.rds.amazonaws.com;initial catalog=clinicbd;persist security info=True;user id=admin;password=admin12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="bbi" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=clinic-admin-env.ckeki9zynfob.us-east-1.rds.amazonaws.com;initial catalog=clinicbd_new;persist security info=True;user id=admin;password=admin12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="pl" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=clinic-admin-env.ckeki9zynfob.us-east-1.rds.amazonaws.com;initial catalog=clinicbd_principles;persist security info=True;user id=admin;password=admin12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="vl_ep" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=clinicbd;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <ABABillingAndClaim.Properties.Settings>
      <setting name="BASE_ENDPOINT" serializeAs="String">
        <value>https://localhost:44393/api</value>
      </setting>
      <setting name="DEFAULT_PASSWORD" serializeAs="String">
        <value>Temporal00*</value>
      </setting>
      <setting name="VL_EP_BASE_ENDPOINT" serializeAs="String">
        <value>http://34.224.222.1:8082/api</value>
        <!--<value>https://localhost:44393/api</value>-->
      </setting>
      <setting name="BBI_BASE_ENDPOINT" serializeAs="String">
        <value>http://34.224.222.1:8083/api</value>
      </setting>
      <setting name="PL_BASE_ENDPOINT" serializeAs="String">
        <value>http://34.224.222.1:8088/api</value>
      </setting>
    </ABABillingAndClaim.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <ABABillingAndClaim.Properties.Settings>
      <setting name="ENVIROMENT" serializeAs="String">
        <value>DEV</value>
      </setting>
    </ABABillingAndClaim.Properties.Settings>
  </applicationSettings>
</configuration>